* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    font-family: 'Lato', sans-serif;
  }

  header {
    background-color: whitesmoke;
    margin-top: 0;
    position: fixed;
    width: 100vw;
  }
  
  li {
    list-style: none;
  }
  
  a {
    color: black;
    text-decoration: none;
  }
  
  .navbar {
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  }

  .logo {
    padding: 5px;
  }

  .logo img {
    height: 9vh;
    width: 11vw;
    margin-left: 150px;
  }
  
  
  .navMenu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 150px;
    gap: 45px;
  }
  
  .navLink {
    transition: 0.7s ease;
  }

  .promotions {
    background: white;
    border: 4px solid red;
    padding: 10px;
  }

  .promotions a {
   color: red;
   padding: 10px;
  }

  .navLink:hover {
    color: orangered;
  }
  
  .hamburger {
    display: none;
    cursor: pointer;
  }

  .bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: black;
  }
  
  .banner {
    background: url("./images/flower\ background.jpg") no-repeat center;
    background-size: cover;
    width: 100vw;
    align-items: center;
    padding: 170px;
  }

  .banner-content h1 {
    font-size: 8rem;
    font-family: "Bebas Neue", sans-serif;
    color: #ff4500; 
    background-image: url("./images/h1\ background.jpg");
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    letter-spacing: 4px; 
    text-align: left;
    line-height: 110px;
    margin: 1rem 0 2rem 0;
  }

  .banner-content h2 {
    font-weight: bold;
    color: #ff4500;
  }

  .banner-paragraph {
    width: 50vw;;
    font-size: 18px;
    margin-bottom: 2rem;
    background-color: whitesmoke;
    border: 2px solid white;
    padding: 15px;
  }

  .dateAndVenue h1{
    font-family: "Oswald", sans-serif;
    font-size: 2rem;
    text-align: left;
    margin-left: 0;
    margin-bottom: 0;
  }

  .dateAndVenue p {
    font-size: 1.3rem;
  }

  .about-banner {
    text-align: center;
    background: url("./images/flower\ background.jpg") no-repeat center;
    background-size: cover;
    width: 100vw;
    align-items: center;
    padding: 100px 170px 170px;
  }

  .direction {
    padding: 0;
    text-align: right;
    margin-bottom: 4rem;
  }

  .about-banner .fa-solid {
    color: #272A31;
    font-size: 15px;
  }

  .aboutbanner-content h1 {
    font-size: 6rem;
    font-family: "Bebas Neue", sans-serif;
    color: #ff4500; 
    background-image: url("./images/h1\ background.jpg");
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    letter-spacing: 4px; 
    line-height: 90px;
    margin: 1rem 0 2rem 0;
  }

  .aboutbanner-paragraph {
    font-size: 20px;
    margin-bottom: 3rem;
    background-color: white;
    border: 2px solid whitesmoke;
    padding: 15px;
    line-height: 25px;
  }

  .aboutdateAndVenue p {
    font-size: 20px;
    margin-bottom: 0.7rem;
  }


  .banner2 {
    background: url("./images/background2.jpg") no-repeat center;
    background-size: cover;
    width: 100vw;
    color: white;
    text-align: center;
    padding: 50px 0;
  }

  .activity-box {
    display: flex;
    gap: 5px;
    margin: 50px 140px 50px 172px;
  }

  .banner2 h1 {
    padding-top: 0;
    margin-top: 0;
  }

  .banner2 a {
    color: white;
  }

  .box {
    height: 300px;
    width: 100%;
    background-color: rgba(113, 102, 102, 0.5);
    text-align: center;
    padding: 20px;
  }

  .box h2 {
    color: red;
    margin: 20px 0;

  }

  .box p {
    margin: 15px 0;
  }

  .box:hover {
    border: 2px solid white;
  }

  .fa-solid, .fa-brands {
    color: white;
    font-size: 40px;
    margin: 15px 0;
  }

  .speakers-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 2rem 7rem 2rem 10.5rem;
}
.speaker {
    width: 45%;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}
.speaker img {
    margin-right: 15px;
    width: 100px;
    height: 100px;
}
.speaker h3 {
    margin: 0;
    font-size: 1.5em;
}
.speaker h4 {
    margin: 0;
    font-size: 1.2em;
    color: red;
}
.speaker p {
    margin: 5px 0 0 0;
    color: #555;
}
 
h1 {
  text-align: center;
  margin: 2rem;
 }

 .partners-section {
  text-align: center;
  padding: 50px 0;
  color: #ccc; /* Light grey text color */
  background-color: #272A31;
}

.partners-section h2 {
  margin: 0;
  font-size: 2rem;
  color: #ccc;
}

.underline {
  width: 50px;
  height: 2px;
  background-color: #EC5242;
  margin: 10px auto 30px auto;
}

.partners-container {
  display: flex;
  justify-content: center;
  gap: 40px; /* Space between each partner */
  flex-wrap: wrap;
}

.partner {
  font-family: "Anton", sans-serif;
  font-size: 1.5rem;
  color: #ccc;
  opacity: 0.7;
  transition: opacity 0.3s ease;
}

.partner:hover {
  opacity: 1;
}

.footer-section {
  display: flex;
  color: #272A31; /* Light grey text color */
  background-color: whitesmoke;
  padding: 2rem 6rem;
  gap: 20px;
}

.footer-container {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}

.footer-container h1{
  text-align: left;
  margin-left: 0;
}


  @media (max-width: 768px) {
    .hamburger {
      display: block;
      padding-left: 38px;
    }

    .hamburger.active .bar:nth-child(2){
      opacity: 0;
    }

    .hamburger.active .bar:nth-child(1){
      transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3){
      transform: translateY(-8px) rotate(-45deg);
    }

    .logo {
        display: none;
    }

    .navMenu {
      position: fixed;
      left: -100%;
      top: 60px;
      gap: 0;
      flex-direction: column;
      background-color: whitesmoke;
      width: 100%;
      height: 50vh;
      text-align: center;
      transition: 0.3s;
      padding: 0 20PX, 30px, 0;
      padding-bottom: 30px;

    }

    .navItems {
      margin: 16px, 0;
    }

    .navMenu.active {
      left: 0;
    }

      .banner {
        background-size: cover;
        width: 100vw;
        height: 90vh;
        padding: 0px;
      }

      .banner-content {
        margin: 0 2rem;
      }

      .banner-content h1 {
        font-size: 3rem;
        line-height: 45px;
        text-align: left;
        letter-spacing: 3px;
    }

      .banner-content h2 {
        font-size: 14px;
        text-align: left;
        padding-top: 20px;
    }

      .banner-paragraph {
        font-size: 15px;
        margin: 2rem;
        width: 80vw;

      }

      .dateAndVenue h1{
        font-size: 1.5rem;
        margin: 0 2rem;
      }
    
      .dateAndVenue p {
        font-size: 1rem;
        margin: 0 2rem;

      }

      .activity-box {
        flex-direction: column;
        padding: 30px 30px;
        margin: 0;
      }
}
